<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Employees</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Locations</a>
                </li>
               
              </ul>
        </div>
        <div class="col-md-9">
            <!-- Sub Routes will go here-->
        </div>
    </div>
</div>
