<form #registerForm="ngForm" class="container mt-4">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" [(ngModel)]="register.email" required minlength="4" name="email"
        #email="ngModel" [pattern]="emailRegex" maxlength="100">
      <div *ngIf="email.dirty">
        <div *ngIf="email.errors && email.errors.required">Email is required</div>
        <div *ngIf="email.errors && email.errors.minlength">Min lentgh is 4</div>
        <div *ngIf="email.errors && email.errors.maxlength">Max lentgh is 10</div>
        <div *ngIf="email.errors && email.errors.pattern">Invalid Email</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" [(ngModel)]="register.password">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Gender</label>
    <div class="col-sm-4">
      <input type="radio" name="gender" value="M" [(ngModel)]="register.gender">Male
      <input type="radio" name="gender" value="F" [(ngModel)]="register.gender">Female
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Country</label>
    <div class="col-sm-4">
      <select class="form-control" [(ngModel)]="register.country">
        <option value={{c.alpha2Code}} *ngFor="let c of countryList">{{c.alpha2Code}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">

    <div class="col-sm-4">
      <input type="checkbox" [(ngModel)]="register.agreeTerms"> I Agree Terms
    </div>
  </div>
  <!-- <div class="form-group row" *ngIf="register.agreeTerms">
        
        <div class="col-sm-4">
           <button class="btn btn-primary">Register</button>
        </div>
      </div> -->
  <div class="form-group row">

    <div class="col-sm-4">
      <button class="btn btn-primary">Register</button>
    </div>
  </div>


</form>